<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>The ATN Toy Box</title>
    </head>

    <body>
        <h1>CREATE: Toys in the ATN Toy Box.</h1>
        
        <!-- (1): CREATE Task -->         
        <!-- --> 
        <form action="/toys" method="POST">   
            <input type="text" placeholder="name" name="name" />        
            <input type="text" placeholder="description" name="description" />
            <input type="text" placeholder="price" name="price" />
            <button type="submit">Submit</button>
        </form>
        <!-- -->                               

        <!-- (2): READ Task -->                        
        <h2> READ: All Toys in the Toy Box </h2>
        <ul class="toys">
            <!-- Loop through toys -->
            <% for(var i = 0; i < toys.length; i++) {%>
                <li class="toy">
                    <!-- Output name from the iterated toys object -->
                    <span><%= toys[i].name %></span>:
                    <!-- Output description from the iterated toys object -->
                    <span><%= toys[i].description %></span>
                     <!-- Output price from the iterated toys object -->
                    <br><span><%= toys[i].price %></span>
                </li>
            <% } %>
        </ul>    
    
    </body>

</html>