<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>The ATN Toy Box</title>
    </head>

    <body>
        <h1>CREATE: Toys in the ATN Toy Box.</h1>
        
        <!-- (1): CREATE Task -->         
        <!-- --> 
        <form action="/Toys" method="POST">   
            <input type="text" placeholder="name" name="name" />        
            <input type="text" placeholder="description" name="description" />
            <button type="submit">Submit</button>
        </form>
        <!-- -->                               

        <!-- (2) READ Task -->                        
        <h2> READ: All Toys in The Toy Box </h2>
        <ul class="Toys">
            <!-- Loop through quotes -->
            <% for(var i = 0; i < Toys.length; i++) {%>
                <li class="Toy">
                    <!-- Output name from the iterated quote object -->
                    <span><%= Toys[i].name %></span>:
                    <!-- Output quote from the iterated quote object -->
                    <span><%= Toys[i].description %></span>
                </li>
            <% } %>
        </ul>    
    
    </body>

</html>